/week_of_code_23/Lighthouse/build/
/week_of_code_23/Lighthouse/dist/
/week_of_code_23/Treasure Hunting/build/
/week_of_code_23/Treasure Hunting/dist/
/week_of_code_23/Unexpected Problem/build/
/week_of_code_23/Unexpected Problem/dist/